// CSS

.recharts-wrapper {
    width: 100% !important;
}

.graph-top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .graph-title {
        font-size: 18px;
        font-weight: 500;
    }
}